:root {
    /*
        ====== COLORS ======
    */

    /* Text */
    --xdark-desat-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --xdark-gray-blue: hsl(237, 12%, 33%);
    --dark-gray-blue: hsl(240, 6%, 50%);

    /* Gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --light-gray-blue: hsl(240, 5%, 91%);


    /* Calculations */
    --question-padding-top-btm: 2rem;
    --header-margin-btm: calc(3.8rem - var(--question-padding-top-btm));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}


/* 
    ==================== MOBILE DESIGN ====================
*/

#card-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 32.7rem;
    padding: 0 2.4rem 4.8rem 2.4rem;
    border-radius: 2.3rem;
    position: relative;
}

.illustration {
    position: relative;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24rem;
    height: 14.5rem;
    margin: auto;
    top: -1.9rem;
}


.illustration__img {
    position: absolute;
    background-image: url(../images/illustration-woman-online-mobile.svg);
    background-repeat: no-repeat;
    height: 18rem;
    width: 23.7rem;
    left: 0;
    right: 0;
    margin: auto;
    top: -8.8rem;
}

.illustration__box {
    display: none;
}

.faq__header {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: var(--header-margin-btm);
}

.faq__parent {
    border-bottom: 1px solid var(--light-gray-blue);
    width: 27.9rem;
}

.faq-question__btn {
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 1.6rem;
    padding: 2rem 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--xdark-gray-blue);
}

.faq-question__btn:hover {
    color: hsl(14, 88%, 65%);
}

.faq-question__btn.active {
    font-weight: 700;
    color: var(--xdark-desat-blue);
}

.arrow-icon {
    pointer-events: none;
}

.arrow-icon.active {
    transform: scaleY(-1);
}

.faq-answer__text {
    display: none;
    line-height: 1.8rem;
    padding-bottom: 1.6rem;
    color: var(--dark-gray-blue)
}


/*
    ========== FOOTER ==========
*/
footer { 
    font-size: 11px; 
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 1rem;
}

footer a { 
    color: hsl(228, 45%, 44%);
}



/*
    ==================== DESKTOP DESIGN ====================
*/
@media screen and (min-width: 680px) {
    #card-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 92rem;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    
    .faq-container {
        width: 35rem;
        margin: 6.5rem 9.5rem 8.4rem 0;
    }

    .illustration {
        background-image: url(../images/bg-pattern-desktop.svg);
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    .illustration__img {
        position: relative;
        background-image: url(../images/illustration-woman-online-desktop.svg);
        width: 47.2rem;
        height: 35.9rem;
        top: 0;
    }


    .faq__header {
        font-size: 3.2rem;
        text-align: left;
    }

    .faq__parent {
        width: 100%;
    }

    .faq-question__btn {
        font-size: 1.4rem;
    }


}